extends layout 

block content
  div#content
    div#index-content
      img(id='index-top-svg', src='/images/eye-01.svg')
      p.col-center Apply for Membership. 
        a(href='/signup') Join Today 