doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    title= title
  body
    div#header
      if member 
        h3 Hello, #{member.username} 
        p (
        a(href='/logout') logout
        p )
      else 
        form(method='POST', action='/login', id='login-form')
          label(for='username') User Name
          input(type='text', id='username', name='username')
          label(for='password') Password 
          input(type='password', id='password', name='password')
          button Log In
    block content 